*{
    padding: 0;
    margin: 0;
}

header{
    padding: 22px 0
}
.genheader{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 22px;
    box-sizing: border-box;
}
body header div nav {
    list-style: none;
}
.head_list_left{
    margin-left: 32px
}
.head_list{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-decoration: none;
    color: #101A1A
}
.get_template{
    padding: 11px 20px;
    background: #101A1A;
    border-radius: 14px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    text-decoration: none;
}
.ui-widget-header{
    background: #CEC4BC;
    border-color: #CEC4BC;
}
.ui-widget-content{
    background-image: url("../image/swirling.jpg");
    background-size: cover;
}
.ui-widget{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.ui-widget-content{
    color: #1B1A1A;
}
#inst{
    margin-left: 250px;
}




element.style {
}
* {
    padding: 0;
    margin: 0;
}
user agent stylesheet
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}





main{
    padding: 137px 0 128px;
    background-color: #ECE7E4;
    position: relative;
    min-height: 720px
}
#main_div_one{
    max-width: 1240px;
    margin: auto;
}
main div h3{
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    Font-style: normal;
    Font-size: 14px;
    font-weight: 400;
    Line-height: 20px;
    text-spacing: 2px ;
    Letter-spacing: 2px;
}
main div h1{
    margin-bottom: 18px;
    font-family: 'Poppins', sans-serif;
    Font-style: normal;
    Font-size: 64px;
    font-weight: 400;
    Line-height: 70px;
    color: #1B1A1A;
}
main div p{
    max-width: 589px;
    margin-bottom: 41px;
    font-family: 'Poppins', sans-serif;
    Font-style: normal;
    Font-size: 16px;
    font-weight: 400;
    Line-height: 24px;
    color: #403E3B;
}
#background_image{
    position: absolute;
    right: 0;
    top:0;
    width:50%;
    height: 100%;
    background-image: url('../image/IMAGE.jpg');
    background-size: cover
}




.our_firm {
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    max-width: 768px;
    margin: auto;
}
.our_firm h1{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 32px;
    line-height: 38px;
    color: #403E3B;
}
.lorem{
    max-width: 493px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #403E3B;
}
.sc{
    display: flex;
    padding-top: 18px;
}
.p{
    margin-top: 10px;
}
.scstephen{
    padding: 22px 0 0 30px;
}




.reading_house{
    min-height: 600px;
    background-image: url("../image/reading_house.jpg");
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 75px;
}
/*.width{*/
/*    margin: auto;*/
/*    max-height: 1168px;*/
/*}*/
.description{
    max-width: 285px;
}
.reading_house .description h5{
    font-family: 'Poppins', sans-serif;
    Font-style: normal;
    Font-size: 14px;
    Line-height: 20px;
    color: #403E3B;
}
.reading_house .description p{
    font-family: 'Poppins', sans-serif;
    Font-style: normal;
    Font-size: 16px;
    Line-height: 24px;
    color: #645C55;
}



#our_process{
    padding: 100px 120px;
    text-align: center
}
#how_we{
    max-width: 1168px;
    margin: auto;
}
#process{
    font-family: 'Poppins', sans-serif;
    Font-style: normal;
    Font-size: 14px;
    Line-height: 20px;
    Line-height: 95%;
    Align: Center;
    Vertical-align: Top;
    Letter-spacing: 2px;
}
#what{
    font-family: 'Poppins', sans-serif;
    Font-style: normal;
    Font-size: 39px;
    Line-height: 42px;
    Line-height: 72%;
    Align: Center;
    Vertical-align: Top;
    padding: 13px 0 0 0;
}
#flex{
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 122px 0
}
.articles_what{
    max-width: 389px;
    display: inline-block;
    justify-content: space-between;
    text-align: center
}
#our_process #how_we article h3{
    padding: 15px 0;
    font-family: 'Poppins', sans-serif;
    Font-style: normal;
    Font-size: 18px;
    Line-height: 26px;
    Line-height: 96%;
    Align: Center;
    Vertical-align: Top;
}
#our_process #how_we article p{
    padding: 10px 0;
    font-family: 'Poppins', sans-serif;
    Font-style: normal;
    Font-size: 15px;
    Line-height: 24px;
    Line-height: 107%;
    Align: Center;
    Vertical-align: Top;
}
.articles_what img{
    max-width: 117px;
    margin: auto;

}



.marble_staircase {
    min-height: 600px;
    background-image: url("../image/MARBLE.jpg");
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 75px;
}
.marble_staircase .description h5{
    font-family: 'Poppins', sans-serif;
    Font-style: normal;
    Font-size: 14px;
    Line-height: 20px;
    color: #403E3B;
}
.marble_staircase .description p {
    font-family: 'Poppins', sans-serif;
    Font-style: normal;
    Font-size: 16px;
    Line-height: 24px;
    color: #645C55;
}


#prior{
    background-color: #403E3B;
}
#max{
    max-width: 1168px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    /*margin-top: 60px;*/
    /*margin-left: 136px;*/
    padding: 60px 136px 60px 136px;
}
.clients{
    padding-top: 75px;
    max-width: 460px;
}
.clients h3{
    margin-top: 75px;
    font-family: 'Poppins', sans-serif;
    Font-style: normal;
    Font-size: 14px;
    Line-height: 20px;
    Line-height: 95%;
    text-align: Left;
    Vertical-align: Top;
    Letter-spacing: 2px;
    color: #ECE7E4;
}
.clients h1{
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    Font-style: normal;
    Font-size: 32px;
    text-align: Left;
    Vertical-align: Top;
}
.clients p{
    padding-top: 14px;
    padding-bottom: 75px;
    font-family: 'Poppins', sans-serif;
    color: #ECE7E4;
    Font-style: normal;
    Font-size: 15px;
    text-align: Left;
    Vertical-align: Top;
    line-height: 25px;
}
.hill_stud{
    margin-top: 64px;
    margin-left: 181px;
    max-width: 432px;
    max-height: 290px;
    display: flex;
}
.twopics{
    padding: 64px 0 48px 40px;
    justify-content: space-between;
}
.picstwo{
    padding: 40px 0 40px 96px;
}
#cai{
    margin-top: 128px
}
#top{
    margin-top: 96px
}





.swirling {
    min-height: 600px;
    background-image: url("../image/swirling.jpg");
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 60px;

}
.width1{
    padding: 266px 0 266px 0;
    margin: auto;
    max-width: 1168px;
}
.description1{
    max-width: 285px;
}
.swirling .description1 h5{
    font-family: 'Poppins', sans-serif;
    Font-style: normal;
    Font-size: 14px;
    Line-height: 20px;
    color: #403E3B;
    padding-left: 60px;
}
.swirling .description1 p {
    font-family: 'Poppins', sans-serif;
    Font-style: normal;
    Font-size: 16px;
    Line-height: 24px;
    color: #645C55;
    padding-left: 60px;
}




.projects{
    padding: 113px 0 111px;
    background-color: #F7F7F7;
}
.container{
    max-width: 1168px;
    margin: auto;
}
.projects h3{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 42px;
    color: #1B1A1A;
    margin-bottom: 15px;
}
.projects p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #645C55;
    margin-bottom: 44px;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.projects article{
    max-width: 375px;
    position: relative;
    overflow: hidden;

}
.projects article:hover .describe{
    top: 0;
}
.projects article img{
    width: 100%;
}
.projects .describe{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    top: -100%;
    transition: 0.5s;
}
.projects .describe h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    color: #403E3B;
    text-align: start;
}
.projects .describe h4 span{
    display: block;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
}
.projects .describe a{
    background: #1B1A1A;
    border-radius: 14px;
    padding: 11px 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    text-decoration: none;
}




#our{
    background-color: #E5E5E5;
}
#team{
    max-width: 1168px;
    margin: auto;
    display: flex;
    padding: 100px 136px 100px 136px;
}
.first_div{
    max-width: 358px;
}
#meet{
    font-family: 'Poppins', sans-serif;
    Font-style: normal;
    Font-size: 32px;
    Line-height: 38px;
    Line-height: 79%;
    Align: Left;
    Vertical-align: Top;
    color: #403E3B;
}
#parag{
    padding: 14px 0 41px 0;
    font-family: 'Poppins', sans-serif;
    Font-style: normal;
    Font-size: 15px;
    Line-height: 24px;
    Line-height: 107%;
    Align: Left;
    Vertical-align: Top;
    color: #645C55;
}
.peoples{
    display: flex;
}
.first_column{
    margin-left: 37px;
    padding: 0 0 28px 0;
    justify-content: space-between;
}
.fper{
    display: flex;
}
.round{
    padding: 8px 0 8px 0;
}
.names{
    display: flex;
    font-family: 'Poppins', sans-serif;
    padding: 0 29px 0 30px;
    Font-style: normal;
    Font-size: 17px;
    text-align: Left;
    color: #1B1A1A;
}
.team{
    padding: 30px 33px 30px;
}
.team h1{
    font-family: 'Poppins', sans-serif;
    Font-style: normal;
    Font-size: 17px;
    Line-height: 26px;
}
#team div a{
    padding: 0 0 0 25px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #1B1A1A;
}
.margins{
    margin-top: 36px;
}




/*.people{*/
/*   padding: 108px;*/
/*}*/
/*.people_div{*/
/*    display: flex*/
/*}*/
/*.profession{*/
/*    padding: 5px 0 0 30px;*/
/*    font-family: 'Poppins', sans-serif;*/
/*    Font-style: normal;*/
/*    Font-size: 14px;*/
/*    text_align: Left;*/
/*    color: #645C55;*/
/*}*/
/*.photo_down{*/
/*    margin-top: 52px;*/
/*}*/




#fit{
    background-color: #CEC4BC;
}
#brown{
    max-width: 1168px;margin: auto; padding: 100px 0; display: flex; justify-content: space-between;
}
#get{
    font-family: 'Poppins', sans-serif;
    Font-style: normal;
    Font-size: 14px;
    Line-height: 20px;
}
#think{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    color: black;
    font-size: 40px;
    line-height: 42px;
    text-decoration: none;
}
#get_left{
    padding: 45px 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    color: black;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}
#footer{
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
    max-width: 1168px;
}
#footer h3{
    padding: 20px 0 0 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
}
#footer p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
}
#footer nav{
    padding: 60px 0 0 0
}
#footer nav ul{
    list-style: none; display: flex
}
#twitter{
    margin-left: 22px;
}
#instagram{
    margin-left: 20px;
}
#facebook{
    margin-left: 26.38px;
}